a{
	color:black;
}
nav {
    display: block;
}
span{
	font-size:200%;
}
#Air,#Activity,#Car,#Hotel{
	display:none;
}
.row{
	display:flex;
	align-items: center;
}
.col{
	margin-left:15px;
	margin-right:15px;
}